{{>partial_header}}
using Momiji;

namespace {{packageName}}.{{modelPackage}}
{
	{{#operations}}
	{{#operation}}
    interface I{{baseName}}Request
	{
        IObservable<{{baseName}}Response> {{httpMethod}} { get; }
    }

	public class {{baseName}}Request : {{httpMethod}}Requestable<{{baseName}}Paramter, {{baseName}}Response>, I{{baseName}}Request
	{
		public {{baseName}}Request ()
		{
			HostName = "{{{basePath}}}";
            {{#pathParams}}
            Path = "/{{paramName}}";
            {{/pathParams}}
		}
	}
	{{/operation}}
	{{/operations}}
}
